services:
  - type: web
    name: changinglives-backend
    runtime: node
    rootDir: BACKEND
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: 10000
      - key: mongodb_url
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: RAZORPAY_KEY_ID
        sync: false
      - key: RAZORPAY_KEY_SECRET
        sync: false